@import '../common/common';
.product{
    transition: all 0.3s;
    border-radius: 40px;

}


.column{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 260px;
    padding-left: 33px;
    justify-content: center;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
    
}


.likeImg{
    position: absolute;
    left: 30px;
    top: 29px;
}
.title{
    font-weight: $regular;
    max-width: 150px;
    padding-bottom: 14px;
}
.priceBox{
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding-bottom: 20px;
}
.price{
    display: flex;
    flex-direction: column;
}
.priceDescription{
    color: $GRAY;
    font-weight: $medium;
    text-transform: uppercase;
}
.addButton{
    display: flex ;
    justify-content: center ;
    align-items:  center;
    width: 32px;
    height: 32px;
    border-radius: 8px ;
    transition: all 0.3s ;
}
.notGreenButton{
    border: 1px solid #F2F2F2;
}
.greenButton{
    background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);
    transition: all 0.3s;

}
.likeButton{
    width: 32px;
    height: 32px;
    display: flex ;
    justify-content: center ;
    align-items:  center;
    border-radius: 8px ;
    transition: all 0.3s ;
    border: 1px solid #F2F2F2;
    cursor:pointer;
}
.likeButton img{
    width: 15px;
    height: 15px;
}
.addButton img{
    width: 15px;
    height: 12px;
}



.redButton{
    background: #FEF0F0;
}
@media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
    .product{
        cursor: pointer;
    }
    .product:hover{
        transform: scale(1.1, 1.1);
        transition: all 0.3s;
        box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.1);
    }
    .addButton:hover{
        background-color: #6b6767e7 ;
        transition: all 0.3s;
    }
    .greenButton:hover{
        background: rgba(111, 18, 18, 0.721);
        transition: all  1s;
    }
    .likeButton:hover{
        background-color:  #ada3a341;
        transition: all 0.3s ;
    }
    .redButton:hover{
        background-color: #3d0404d1;
        transition: all 0.3s ;
    }
}


@include media($problem){
.column{
    width: 180px;
}
.priceBox{
    justify-content: flex-start
}
.price{
    margin-right: 20px;
}
.sneakerImg {
    width: 110px;
    height: 100px;
}
}

@include media(396px){
    .likeImg{
        top: 20px;
        left: 15px;
    }
    .addButton{
        width: 30px;
        height: 30px;
    }
    .column{
        width: 162px;
        padding-left: 20px;
        border-radius: 20px;
        min-height: 250px;
    }
    .sneakerImg {
        padding-top: 10px;
        width: 90px;
        margin-top: 10px;
    }
    .addButton{
        margin-top: -2px;
        margin-left: -8px;
    }
    .price{
        margin-top: 5px;
        margin-right: 19px;
    }
    .priceBox{
        justify-content: flex-start;
        
    }
    .title{
        width: 100px;
        font-size: 13px;
        padding: 0;
    
    }
    .priceDescription{
        font-size: 13px;
    }
    .price{
        font-size: 13px;
    }
}
@include media(352px){
    .column{
           width: 150px;; 
    }
}
@include media(329px){
    .column{
        width: 120px;
        height: 182px;
        padding-left: 10px;
        
    }
   .addButton{
       margin-top: 5px;
       width: 25px;
       height: 25px;
   }
    .sneakerImg{
        width: 80px;
    }
    .price{
        font-size: 10px;
    }
    .title{
        font-size: 11px;
    }
    .priceDescription{
        font-size: 11px;
        }
    
}
@include media(580px){
    .column{
        border-radius: 20px;
    }
}

 
 