@import '../common';

.productInfo{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.688);

}
.content{
    position: absolute;
    left: 50%;
    top:50%;
    background-color: $WHITE;
    min-width: 700px;
    min-height: 400px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow-x: scroll;
}
.row{
    display: flex;
    padding: 50px;
    
    align-items: center;
}
.left{
    
    flex: 0 0 200px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.image{
    margin-bottom: 50px;
    transition: all 0.3s;

}


.image img {
    width: 200px;
    height: auto;
}
.greenButton{
    background-color:rgb(85, 189, 106);
    width: 210px;
    margin-bottom: 5px;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 600;
    height: 30px;
    border-radius: 8px;
    padding: 5px;
    transition: all 0.3s;

}

.redButton{
    padding: 5px;
    width: 210px;
    margin-bottom: 5px;
    background-color: rgb(116, 16, 16);
    min-height: 30px;
    border-radius: 8px;
    font-weight: 600;
    color: #ffff;
    text-transform: uppercase;
    transition: all 0.3s;

}
.top{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.closeButton{
    font-size: 18px
}

@media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
    .greenButton:hover{
        background:rgba(6, 108, 89, 0.879);
        transition: all 0.3s;
    }
    .image:hover{
        transform: scale(1.1);
        transition: all 0.3s;
    }
    .redButton:hover{
        background-color: #960c0cd1;
        transition: all 0.3s ;
    }
    }

@include media(705px){
    .left{
        margin-right: 30px;
    }
    .row{
        padding-top: 0;
    }
    .content{
        min-width: auto;
        width: 600px;
        min-height: auto;
        height: 500px;
       
    }
}
@include media(612px){
        .content{
            width: 550px;
            min-height: 400px;
            max-height: auto;
        }

        .image img{
            width: 170px;
        }
        .row{
            padding-top: 20px;
            padding-left: 30px ;
            padding-right: 20px;
        }
        .redButton{
            width: 190px;
            font-size: 12px;
        }
        .greenButton{
            width: 190px;
            font-size: 12px;
        }
        
}
@include media(558px){
    .content{
        width: 500px;
    }
}
@include media(509px){
    .content{
        width: 450px;
    }
    .image img{
        width: 140px;
     }
    
    .redButton{
        width: 180px;
    }
    .greenButton{
        width: 180px;
       
    }
    .left{
        margin-right: 5px   ;
    }
    .row{
        padding-left: 20px;
    }
}

@include media(458px){
    .content{
        width: 400px;
    }
    .title{

    }
    .image img{
        width: 150px;
     }
     .left{
         align-items: center;
     }
     .redButton{
        width: 170px;
        font-size: 11px
    }
    .greenButton{
        width: 170px;
        font-size: 11px
       
    }
}

@include media($mobile){
    .content{
        width: 305px;
    }
    .row{
        flex-direction: column;
    }
    .greenButton:first-child{
        margin-right: 10px;
    }
    .redButton:first-child{
        margin-right: 10px;
    }
}