@import './common/common';

.body{
    height: 300px;
}
.row{
    display: flex;
}
.adidasImg{
    position: absolute;
    top: 16px;
    left: 20px;
}
.left{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 1 469px;
    background-color: #F4EFE9;
    justify-content: center;
}
.text{
    font-size: 38px;
    line-height: 46px;
    max-width: 240px;
    margin-left: 61px;
    margin-bottom: 11px;
}
.green{
    color: $GREEN
}
.buyButton{
    margin-left: 61px;
    width: 178px;
    height: 47px;
    background-color: $GREEN;
    color: $WHITE;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 110px;
    
}