@import '../common/common';
.items{
    display: grid; 
justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 40px 40px; 
  margin-bottom: 30px;
  @include media($problem){
      gap: 40px 10px;
  }
  @include media($tablet){
    grid-template-columns: 1fr 1fr 1fr; 
  }
  @include media(580px){
      grid-template-columns: 1fr 1fr;
      gap: 20px 10px;
  }
  
}

.notFind{
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 25px;
}



