@import '../common/common';


.header{
    padding: 42px 15px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 45px;
    
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.body{
    height: 44px;
    
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoBox{
    display: flex;
    align-items: center;
}
.logoText{
    display: flex;
    flex-direction: column;
}


.logoImg{
    margin-right: 16px;
}
.name{
    font-size: 20px;
}
.description{
    font-weight: 400;
    color: $GRAY;
}




@include media(470px){
    .name{
        font-size: 16px;
    }
    .description{
        display: none;
    }
    .header{
        padding: 20px 15px;
        margin-bottom: 20px;
    }
}
@include media(440px){
    .name{
        font-size: 15px;
    }
    .logoImg{
       width: 35px;
    }
}
@include media($mobile){
    .rightRow{
        display: none;
    }
    .header{
        margin-bottom: 50px;
    }
    
}
@include media($tablet){
    .header{
        padding: 20px 15px;
    }
}
